<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pos.cn.sxf.dao.CommunityDao" >

    <resultMap id="communityResultMap" type="com.pos.cn.sxf.vo.CommunityVO">
            <id column="community_id" property="communityId"></id>
            <result column="community_name" property="communityName"></result>
    </resultMap>

    <select id="queryAllCommunity" resultMap="communityResultMap">
              select community_id,community_name from community
    </select>

    <select id="queryCommunityByName" resultType="com.pos.cn.sxf.vo.CommunityVO">
          select community_id communityId,community_name communityName from community
          where  community_name = #{communityName}
    </select>

    <select id="addCommunity" parameterType="com.pos.cn.sxf.vo.CommunityVO">
          insert into community(community_id,community_name) values(#{communityId},#{communityName})
    </select>



</mapper>